
/* 
    Created on : 30 Jan, 2026, 11:44:51 AM
    Author     : Admin
*/
  /*Header Style*/
             body{
                height:750px;
                width:100%;
                /*border: 2px solid black;*/
                margin:0px;
                padding: 0px;
                background-repeat: no-repeat;
                background-size:100% 100%;
                background-position-y: 145px;
                background-image: url("Images/home.jpg ");
            }
            a{
                 text-decoration: none;
            }
            .main {
                 /*margin-top: -40px;*/
               height:70px;
               width:100%;
                /*border:5px solid black;*/
                background-color:rgb(19, 25, 33);
                justify-content:space-evenly;
                display: flex;
               
                
            }
        .main a h3:hover{
                color:gray;
                /*font-size:20px;*/
                /*margin:1px;*/
                padding: 2px;
                border:1px white solid;
            }
            .main a h3{
                text-decoration: none;
                color:rgb(255, 255, 255);
            }
            h1{ 
                font-size: 40px;
                height:60px;
                margin: 0px;
                padding-top: 15px;
                /*margin-top: -5px;*/
                color:rgb(255, 255, 255);
                background-color: rgb(15, 17, 17) ;
            }
            .data{
                 color: white;
                font-size: 18px;
                background-color: black;
                
            }
            table{
                margin-top:10px;
                margin-left: -20px;
                
            }
            #submit{
                cursor: pointer;
                color: white;
                width:100px;
                background-color: rgb(45, 65, 35);
                font-size: 18px;
                border-radius: 20px;
                margin-left: 30px;
            }
            #submit:hover{
                padding: .5px;
                color:blue;
            }
            #reset{
                cursor: pointer;
                color: white;
                width:100px;
                background-color: rgb(79, 25, 33);
                font-size: 18px;
                border-radius: 20px;
                margin-left:100px;
            }
            #reset:hover{
                padding: .5px;
                color:red;
            }
            input{
                width:300px
            }
/*             #logout{
                height: 30px;
                max-width: 110px;
                border-radius: 30px;
                background-color:darkred;
                color: black;
                padding-top:7px;
                margin-top:12px;
                
            }*/

/*Librarian registration*/
 
            .Lib_reg #t_hadding{
                width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
         
 /*Admin Login*/
 .adminlogin #t_hadding{
                width: 300px; 
                color: white; 
                /*color: pink;*/
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
 /*Admin Home*/
 .adminhome{
                height:750px;
                width:100%;
                /*border: 2px solid black;*/
                margin:0px;
                padding: 0px;
                background-repeat: no-repeat;
                background-size:100% 100%;
                 background-position-y: 145px;
                background-image: url("Images/liabrarian.png ");
            }
            
            /*BOOk Or Bookmodule*/
                .bookmodule{
                background-image: url("Images/liabrarian.png ");
            }
         /*Search Book By id*/
          .searchId{
                height:750px;
                width:100%;
                /*border: 2px solid black;*/
                margin:0px;
                padding: 0px;
                background-repeat: no-repeat;
                background-size:100% 100%;
                background-position-y: 145px;
                background-image: url("Images/liabrarian.png ");
            }
          .searchId  #t_hadding{
                width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
           
            /*Add Book*/
                .addBook{
                height:750px;
                width:100%;
                /*border: 2px solid black;*/
                margin:0px;
                padding: 0px;
                background-repeat: no-repeat;
                background-size:100% 100%;
                background-position-y: 145px;
                background-image: url("Images/add_book.jpg ");
            }
           .addBook #t_hadding{
                width: 300px; 
                color: white; 
                /*color: pink;*/
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
           
            #cont{
                background-color:palegoldenrod;
            }
          
            /*Update Booh Or Update*/
            
                .update{
                
                background-image: url("Images/liabrarian.png ");
            }
             .update  #t_hadding{
                width: 300px; 
                color: white; 
                /*color: pink;*/
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            #cont{
                background-color:palegoldenrod;
            }
            /*Update -> UpdateBook*/
                 .updateBook{
                background-image: url("Images/update_book.jpg ");
            }
           .updateBook  #t_hadding{
                width: 300px; 
                color: white; 
                /*color: pink;*/
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            #cont{
                background-color:palegoldenrod;
            }
            /*Delete*/
             .delete{
                background-image: url("Images/delete_book.jpg ");
            }
            .delete  #t_hadding{
                width: 300px; 
                color: white; 
                /*color: pink;*/
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            
/*Book List*/
            
           .BookList #t_hadding{
                width: 350px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            
            .BookList #data{
                color: white; 
                background-color: rgb(19, 25, 33);
                    
            }

          /*Registration*/
     
     /*Student Login*/
            .Stu_Login{
                
                background-image: url("Images/home.jpg ");
            }
            
            .Stu_Login #t_hadding{
                width: 180px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
             .Stu_Login #t_hadding{
                width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
          
            
     
      /*Student Home*/
        
            /*SearchBook*/
             
               .SearchBook{
                background-image: url("Images/search_book.jpg ");
            }

           .SearchBook #t_hadding{
                width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            
            /*SearchBookConf*/
             .seachconf{
                
                background-image: url("Images/search_book.jpg ");
            }
            
           .seachconf #t_hadding{
                width: 350px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            
           /*BookIssue*/
           
           .BookIssue_body{
                
                background-image: url("Images/issued_book.jpg ");
            }
          .BookIssue_body #t_hadding{
                max-width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
/*Issued Book*/

            .Issued{
                background-image: url("Images/issued_book.jpg ");
            }
            
             .Issued #data{
                color: white; 
                background-color: rgb(19, 25, 33);
                    
            }
/*Return Book*/

  .ReturnBook{
                background-image: url("Images/return_book.jpg ");
            }
           
             .ReturnBook #t_hadding{
                width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            
            /*Fine*/
            
            .Fine{
                
                background-image: url("Images/fine.jpg ");
            }
            
              .Fine #t_hadding{
                width: 300px; 
                color: white; 
                margin-bottom:-8px; 
                font-size: 20px;
                font-weight:bold;
                background-color: rgb(15, 17, 17);
            }
            
            