<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BallotForm</servlet-name>
        <servlet-class>Voting_System.BallotForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>DB.DBConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BallotPaper</servlet-name>
        <servlet-class>Voting_System.BallotPaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>Voting_System.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnect</servlet-name>
        <servlet-class>DB1.DBConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>Library.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stu_Reg</servlet-name>
        <servlet-class>Library.Stu_Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stu_login</servlet-name>
        <servlet-class>Library.Stu_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lib_Reg</servlet-name>
        <servlet-class>Library.Lib_Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterReg</servlet-name>
        <servlet-class>Voting_System.VoterReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>Library.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>Library.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Library.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>Library.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookIssue</servlet-name>
        <servlet-class>Library.BookIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookReturn</servlet-name>
        <servlet-class>Library.BookReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Library.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BallotForm</servlet-name>
        <url-pattern>/BallotForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BallotPaper</servlet-name>
        <url-pattern>/BallotPaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnect</servlet-name>
        <url-pattern>/DBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stu_Reg</servlet-name>
        <url-pattern>/Stu_Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stu_login</servlet-name>
        <url-pattern>/Stu_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lib_Reg</servlet-name>
        <url-pattern>/Lib_Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterReg</servlet-name>
        <url-pattern>/VoterReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookIssue</servlet-name>
        <url-pattern>/BookIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookReturn</servlet-name>
        <url-pattern>/BookReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
